@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background-color: #89C15E;
  }
  
  h1 {
    text-align: left;
    color: white;
  }
  
  span {
    letter-spacing: 2px;
  }
  
  .scoreboard {
    padding: 10px;
    border: 2px solid white;
    border-radius: 13px;
    width: 800px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .view-score {
    display: flex;
    justify-content: space-between;
  }
  .view-score .score span:not([id]) {
    font-weight: bold; 
    color:#656565; 
  }
  
  .score{
    height: 130px;
    width: 140px;
    background-color: white;
    border-radius: 9px;
    margin: 10px;
    padding: 10px;
  }
  #user-score, #pc-score{
    font-size: 68px;
    font-weight: 700;
  }
  .choices {
    margin-top: 100px;
    position: relative;
  }
  
  img{
    align-items: center;
  }

  #result {
    margin-top: -80px;
  }
  #play-again{
    cursor: pointer;
    display: none;
    width: 170px;
    height: 44px;
    letter-spacing: 2px;
    color: #6B6B6B;
    border-radius: 9px;
    border: none;
    margin: 20px auto 0;
  }

  #rules-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px solid white;
    width: 120px;
    height: 40px;
    background-color: #89C15E;
    color: white;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
  }
  #next-btn{
    position: fixed;
    bottom: 20px;
    right: 150px;
    z-index: 1;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px solid white;
    width: 120px;
    height: 40px;
    background-color: #89C15E;
    color: white;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
  }
  
  #rules-container {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #004429;
    border: 7px solid #ccc;
    padding: 10px;
    height: 325px;
    width: 280px;
    border-radius: 13px;
    display: block;
    color: white;
  }
  #rules-container ul {
    padding-top: 10px;
    list-style: square;
    padding-left: 15px;
    text-align: left;
    font-size: 13px;
  }
  
  #rules-container ul li::marker{
    color: #FFD600;
    width: 8px;
    height: 8px; 
  }

  #rules-container li{
    margin-bottom: 15px;
  }
  #close-button {
    font-family: 'Dangrek', sans-serif;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    background-color: #FF0000;
    color: white;
    font-size: 40px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.tie {
  color: white;
  font-weight: 800;
}

.win {
  color: white;
  font-weight: 800;
}

.lose {
  color: white;
  font-weight: 800;
}
.result-line1 {
  font-size: 39px;
}

.result-line2 {
  font-size: 25px;
}
/* ----------------------------------------------------------------------- */


.first{
  margin-left: 40%;
  display: flex;
  flex-direction: row;
}
.circle-container {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 16px solid; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: white ;
}
.img-fist,
.img-scissors,
.img-hand {
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain; 
}

.hr-line {
  margin: 0px 43px;
  top: 50%;
  transform: rotate(90deg); 
  width: 12px;
  height: 6.5rem;
  background-color: #000000A3;
}
.rt-line-1{
  margin-top: -32px;
  margin-left: 112px;
  transform: rotate(140deg);
  width: 12px;
  height: 7rem;
  background-color: #000000A3;
}
.rt-line-2{
  margin-top: -27px;
  margin-left: 93px;
  transform: rotate(40deg);
  width: 12px;
  height: 7rem;
  background-color: #000000A3;
}
.second{
  margin-left: 40%;
  display: flex;
  flex-direction: row;
}
.third{
  margin-top: -28px;
  margin-left: 48%;
}
.stone{
  border-color: #0074B6;
}
.scissors{
  border-color: #BD00FF;
}
.paper{
  border-color: #FFA943;
}


.hidden {
  display: none;
}


#result-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

#result-container .choice-container {
  flex: 1;
  text-align: center;
}

#result-container .choice-container img {
  width: 100px; 
  height: 100px; 
  display: block;
  margin: 0 auto;
}




